body{
background-color: aqua;
color: blueviolet;
}
/* opacity values are from 0 to 1 */
div.first{
    opacity: 0.1;
}

div.second{
    opacity: 0.4;
}
div.third{
    opacity: 0.6;
}

/* some browsers need double quotations and some need single quotations */
body{
    background-image: url("center_2023_09_28_15_15_44_092.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

p{
border: 1px solid black;
width : 500px;
margin: auto;
padding:70px;
height:50px;
}

/* law katabt fel margin auto : bycenterha btt7eseb 3ala 7asab width el element */